body {
	font-size: 24px;
	font-family:'segoe UI light', 'segoe UI';
	font-weight: 300;
	text-shadow:0 0 1px rgba(0,0,0,.1);
}
@media only screen and (max-width: 1300px) {
	h2 {
		font-size:100%;
	}
	#content .col_item span  {
		font-size:100% !important;
		text-indent:5px;
	}
	#content#content .col_item   {
		font-size:90% !important;
		text-indent:5px;
	}
}  
button {
	background-image: -moz-linear-gradient(center top , #fdfeff, #ebedef);
	background-image: -webkit-linear-gradient(top , #fdfeff, #ebedef);
	border: 1px solid #d5d6d9;
	border-bottom:1px solid #bdbec1;
	color: #444;
	cursor: pointer;
	font: 300 15px Calibri,sans-serif;
	padding: 4px 13px;
	border-radius:3px;
	text-shadow:1px 1px 0 #fff;
	float:right;
	margin-left:5px;
	margin-top:3px;
}

input, select {
	border:1px solid #c5c6c8;
	font-family: Segoe ui;
	font-size: 16px;
	letter-spacing:1px;
	height: 20px;
	padding: 4px 0 4px 0;
	text-align:center;
	width: 40%;
	-moz-transition:all 0.2s;
	-webkit-transition:all 0.2s;
	box-shadow:inset 0 0 3px rgba(0,0,0,.10);
	float:right;
}
input[type="checkbox"] {
	width:50px;
	float:left;
}
select {
	padding-top:0;
	padding-bottom:0;
	height:30px;
	max-width:40%;
	min-width:150px;
	
}
option {
	text-align:left;
	padding:3px;
	font-size:12px;
}
input:focus ,select:focus {
	border: 1px solid #82b5dc;
}

button:hover {
	background-image: -moz-linear-gradient(center top , #f7f8f9, #e7eaec);
	background-image: -webkit-linear-gradient(center top , #f7f8f9, #e7eaec);
}
button:active {
	background-image: -moz-linear-gradient(center bottom , #fdfeff, #ebedef);
	background-image: -webkit-linear-gradient(center bottom , #fdfeff, #ebedef);
	box-shadow:inset 0 0 6px rgba(51,51,51,.2);
}
#add_container {
	width:100%;
}
.stat {
	width:23%;
	margin:10px;
	float:left;
	font-size:14px;
}
.add {
	float:left;
	padding:5px;
	min-height:55px;
	width:45%;
	min-width:450px;
	border:1px solid #e6e6e6;
	margin:2px;
	overflow:hidden;
	-moz-transition:.3s all;
	display:none;
	text-transform:capitalize;
	font-size:16px;
}
.add textarea {
	height:75px;
}
.xmlcode {
	clear:both;
	top:30px;
	position:relative;
	width:90%;
	height:350px;
	background:#f1f1f1;
	color:#111;
	border:0;
	padding:10px;
	font-size:14px;
	white-space:pre;
	overflow:auto;
}
#main {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
#content {
	position:absolute;
	top:0px;
	left:250px;
	padding:20px;
	width:75%;
	height:95%;
	min-width:500px;
	min-height:500px;
	overflow:auto;
}
#content .col {
	float:left;
	width:100%;
	font-size: 12px;
	text-indent:20px;
	margin-bottom:10px;
	border:1px solid #999;
	height:60px;
	overflow:hidden;
}
#content .col_item {
	display:block;
	width:100%;
	min-height:25px;
	cursor:pointer;
}
#content .col h2 {
	cursor:pointer;
}
#content .col h2:hover {
	background:#f1f1f1;
}
#content .col_item:nth-child(odd) {
	background:#f9f9f9;
}
#content .col_item span:hover {
	background:#188acb !important;
	color:#fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#content .col_item span {
	width:100%;
	height:27px;
	padding-top:3px;
	display:block;
	font-size:14px;
}
#content .col .amount {
	float:right;
	margin-right:20px;
}
#menu_shadow {
	position:absolute;
	left:240px;
	top:0px;
	height:100%;
	min-height:400px;
	width:10px;
	box-shadow: inset -5px -1px 9px -6px #666;
	z-index:2;
}
#option_container {
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	min-height:400px;
	width:250px;
	z-index:1;
	background:#f7f7f7;
}
#option_container .option {
	width:100%;
	height:39px;
	text-indent:10%;
	padding: 16px 0 0 0;
	cursor: pointer;
	font-size:16px;
	border-top:1px solid #fff;
	border-bottom:1px solid #efefef;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;
}
#option_container .option:hover {
	color:#188acb;
}
#option_container .selected {
	box-shadow:inset 0 0 10px rgba(50,50,50, 0.4);
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	background:#188acb;
	color:#fff!important;
	text-indent:15%;
}
.hid_stat {
	width:99%;
	background:#777;
	color:#fff;
	text-indent:0;
	padding:5px;
	display:none;
	border-bottom:1px solid #999;
	clear:both;
	height:130px;
	overflow:auto;
	font-family:Segoe UI;
}
.hid_stat  b {
	display:block;
	width:100%;
	font-weight:600;
	font-size:14px;
}
h2 {
	margin-top:0px;
	font-weight:300;
	padding:15px 0 20px 0;
	border-bottom:1px solid #999;
	font-size:22px;
}
#overview, #add, #help {
	height:100%;
	width:100%;
	min-width:600px;
	display:none;
}
textarea {
	width:98%;
}
.note {
	display:block;
	width:100%;
	font-size:14px;
	font-style:italic;
	color:#666;
	margin-top:10px;
	text-align:center;
}
#add-type {
	text-transform:capitalize;
}
.plus {
	float:right;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}
.input-short {
	width:12%;
}
.talk-add {
	font-size:14px;
	display:block;
	width:100%;
	height:120px;
	text-indent:20px;
	margin-bottom:2px;
	padding:10px 2px 5px 2px;
}
.talk-add:nth-child(odd) {
	background:#f9f9f9;
}
.talk-add textarea {
	height:75px;
}
.small-add {
	font-family:Arial;
	font-size:12px;
	display:block;
	width:100%;
	height:30px;
	text-indent:20px;
	margin-top:5px;
	margin-bottom:2px;
	padding:2px;
}
.small-add:nth-child(odd) {
	background:#f9f9f9;
}
.small-add input{
	height:18px;
	font-size:12px;
	border-radius:1px;
}
.small-add select {
	width:25%;
	height:28px;
	border-radius:1px;
	font-size:12px;
	float:none;
	margin-left:10px;
}
.small-add button {
	margin-top:0;
	padding-top:0;
	height:28px;
}
#whatnow {
	margin-top:30px;
	display:block;
	width:100%;
	text-align:center;
	font-size:14px;
	color:#444;
}
#help h3 {
	margin:0;
	padding-bottom:5px;
	font-size:20px;
	font-weight:300;
	border-bottom:1px solid #e6e6e6;
	text-indent:5px;
	background:#f9f9f9;
}
.help_item {
	width:340px;
	height:140px;
	float:left;
	font-size:14px;
	font-family:Segoe UI;
	margin:2px;
	border:1px solid #e1e1e1;
}
.req {
	margin-top:-25px;
	margin-left:240px;
	color:#ff0000;
	font-weight:500;
	font-size:16px;
	display:block;
}
.help_item span:not(.req){
	margin-top:10px;
	display:block;
	padding:5px;
	font-size:14px;
	height:88px;
	line-height:16px;
	color:#000;
	word-spacing:5px;
	font-family:Calibri;
	overflow:auto;
}
.big {
	width:97%;
	height:auto;
	min-height:0;
}
.big span {
	font-size:120%!important;
	height:80px!important;
}