body {
	font-size: 24px;
	font-family: Segoe UI;
	font-weight: 300;
}
#main {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
#content {
	float:left;
	margin-left:20px;
	margin-top:1%;
	width:80%;
	height:95%;
	min-width:400px;
	min-height:400px;
}
#content .col {
	float:left;
	width:19%;
	height:100%;
	font-size: 14px;
	border-left:1px solid #999;
	text-indent:5px;
}
#content .col:last-child {
	border-right:1px solid #999;
}
#content .col_item {
	display:block;
	width:100%;
	min-height:25px;
	cursor:pointer;
}
#content .col_item span:hover {
	background:#188acb !important;
	color:#fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#content .col_item span {
	width:100%;
	height:27px;
	padding-top:3px;
	display:block;
	font-size:16px;
}
#menu {
	float:left;
	height:100%;
	min-height:400px;
	min-width:250px;
	width:15%;
	background:#f1f1f1;
}
#menu .option {
	width:100%;
	height:45px;
	text-indent:15%;
	padding: 8px 0 0 0;
	cursor: pointer;
}
#menu .option:hover {
	background:#e6e7e8;
}
#menu .option:active {
	background:#188acb;
	color:#fff;
}
.hid_stat {
	background:#999;
	color:#fff;
	text-indent:0;
	padding:5px;
	display:none;
	border-bottom:1px solid #999;
}
h2 {
	font-weight:300;
	border-bottom:1px solid #999;
}